@model IEnumerable<Domain.Entityes.Photo>

<table class="table" style="background-color: lightgrey">
    <tr>
        <th class="text-center">
            Фото
        </th>
        <th class="text-center">
            Приоритет
        </th>
        <th class="text-center">
            Действия
        </th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                    <img src="~/PhotoForDB/@i.PhotoUrl" width="60" height="70" />
            </td>
            <td>
                @if (i.Priority.
                    Equals(true))
                {

                    <i>Основное фото</i>
                }
                @if (i.Priority.
                    Equals(false))
                {

                    <i>Дополнительное фото</i>
                }
            </td>
            <td class="text-center">
                @using (Html.BeginForm("EditPhoto", "Admin", FormMethod.Get))
                {
                    @Html.Hidden("PhotoId", i.PhotoId)
                    <input type="submit"
                           class="btn btn-default btn-xs"
                           value="Редактировать" />
                }
            </td>
            <td class="text-center">
                @using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Get))
                {
                    @Html.Hidden("PhotoId", i.PhotoId)
                    <input type="submit"
                           class="btn btn-default btn-xs"
                           value="Удалить" />
                }
            </td>
        </tr>
    }

</table>

