
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
</head>
<body>
<div>
    <h1>это страница покупки!</h1>
    <h2>Спасибо, что купили платье - @ViewBag.Name</h2>
</div>
</body>
</html>
