@model Domain.Entityes.Basket
<a href="@Url.Action("Index", new {returnUrl = Request.Url?.PathAndQuery})" class="basketLink">
   
    <img src="~/Images/basketpic.png" alt="" class="basketPic">
    @{
        if (Model.CountItem != 0)
        {
            <p align="right" style="padding: 60px; padding-top: 15px">@Model.CountItem</p>
        }
    }
</a>


