
@{
    ViewBag.Title = "О дизайнере";
}
@*специально не использую бутстрап, может фронтовикам будет не удобно с ним*@
<div style="background-color:cornflowerblue">
    <br />
    <h1>CЛАЙДЕР</h1>
    в слайдер будут подкидываться картинки урлами из базы
    <br />
</div>
<br />
<br />
<br />
<br />
<h2>инфо о дизайнере</h2>
<br />
<br />
<br />
<br />
<br />
<br />


