@model PagedList.IPagedList<Domain.Entityes.Reviews>
@{
    ViewBag.Title = "Отзывы";
}
<style>
    input.My {
    width:  200px;
    height: 35px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
}
     input.My1 {
    width:  1000px;
    height: 250px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
}
</style>
<h1 align="center">Отзывы Клиентов</h1>
<br/>
<br/>
<div>
    @Html.Partial("ClientFeedbackList", Model)
</div>
<br/>
<br/>
<h4>Оцените наш продукт</h4>
<input id="Rating1" type="radio" value="1"/>
<input id="Rating2" type="radio" value="2" />
<input id="Rating3" type="radio" value="3"/>
<input id="Rating4" type="radio" value="4"/>
<input id="Rating5" type="radio" value="5"/>
<br/>
<br />
<input id="ClientName" class="My" type="text" />
<br />
<br />
<input id="ClientFeedback" class="My1" />
<br />
<br />
<input id="Submit" type="submit" value="Оставить отзыв" />