@using MvcPaging
@model List<Domain.Entityes.Reviews>
@{
    ViewBag.Title = "Отзывы";
}

<style>


    #reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
        background: url('../../Images/stars.png') no-repeat;
    }

    #reviewStars-input {
        /*fix floating problems*/
        overflow: hidden;
        *zoom: 1;
        /*end of fix floating problems*/
        position: relative;
        float: left;
    }

    #reviewStars-input input {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        width: 43px;
        height: 40px;
        position: absolute;
        top: 0;
        z-index: 0;
    }

    #reviewStars-input input:checked ~ label {
        background-position: 0 -40px;
        height: 40px;
        width: 43px;
    }

    #reviewStars-input label {
        background-position: 0 0;
        height: 40px;
        width: 43px;
        float: right;
        cursor: pointer;
        margin-right: 10px;
        position: relative;
        z-index: 1;
    }

    #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
        background-position: 0 -40px;
        height: 40px;
        width: 43px;
    }

    #reviewStars-input #star-0 {
        left: 0px;
    }

    #reviewStars-input #star-1 {
        left: 53px;
    }

    #reviewStars-input #star-2 {
        left: 106px;
    }

    #reviewStars-input #star-3 {
        left: 159px;
    }

    #reviewStars-input #star-4 {
        left: 212px;
    }

    #reviewStars-input #star-5 {
        left: 265px;
    }
</style>
    @using (Ajax.BeginForm("ClientFeedback", "Home",
                                    new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                                    new { id = "frm-search" }))
    {
        <div id="grid-list">
            @{ Html.RenderPartial("Feedback", Model); }
        </div>
                }
    <script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }
    </script>
<br />
<br />
<h4>Оцените наш продукт</h4>
<div id="reviewStars-input">
    <input id="star-4" type="radio" name="reviewStars" />
    <label title="gorgeous" for="star-4"></label>

    <input id="star-3" type="radio" name="reviewStars" />
    <label title="good" for="star-3"></label>

    <input id="star-2" type="radio" name="reviewStars" />
    <label title="regular" for="star-2"></label>

    <input id="star-1" type="radio" name="reviewStars" />
    <label title="poor" for="star-1"></label>

    <input id="star-0" type="radio" name="reviewStars" />
    <label title="bad" for="star-0"></label>
</div>
<br />
<br />
<br />
<h5>Ваше имя</h5>
<textarea id="ClientNameId"  type="text" data-title="Ваше имя" ></textarea>
<br />
<h5>Отзыв</h5>
<textarea id="ClientFeedbackId"  type="text" data-title="Ваше имя" ></textarea>
<br />
<br />
<input id="Submit" type="submit" value="Оставить отзыв" />


@*<script type="text/javascript">
    $().ready(function () {
        $(".page-number").live("click", function () {

            var page = parseInt($(".page-number").html());
            debugger;
            $.ajax({
                url: '@Url.Action("ClientFeedback")',
                type: "POST",
                data: { "page": page },
                success: function (data) {
                    $("#person-list").html(data);
                }
            });
        });
    });
</script>*@
