@using Domain.Entityes
@using MvcPaging
@model List<Photo>
@{
    ViewBag.Title = "Online-Гардероб";
}

<h2>Партнеры  </h2>


@using (Ajax.BeginForm("Partners", "Home", new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging" },
                                                                                    new { id = "frm-search" }))
{
    <div id="grid-list">
        @{
            Html.RenderPartial("PartialPartners", (IPagedList<Photo>)Model);
        }
    </div>
            }
<br/>
@Html.ActionLink("Корзина", "Index", "Home") 

<script type="text/javascript">

    function beginPaging() {
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }
</script>

