@using Domain.Entityes
@using MvcPaging
@model List<Photo>
@{
    ViewBag.Title = "Online-Гардероб";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>ONLINE-гардероб   </h2>


@using (Ajax.BeginForm("Selling", "Home", new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging" },
                                                                                    new { id = "frm-search" }))
{
    <div id="grid-list">
        @{
            Html.RenderPartial("PartialSelling", (IPagedList<Photo>)Model);
        }
    </div>
 }
<br />
@Html.ActionLink("Корзина", "Index", "Home")

<script type="text/javascript">

    function beginPaging() {
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }
</script>
<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>