@using MvcPaging
@model List<Domain.Entityes.Photo>
@{
    ViewBag.Title = "Online-Гардероб";
}

<h2>сюда передаем платья на продажу + плавающая  @Html.ActionLink("Корзина", "Index", "Home") и кнопка купить</h2>


@using (Ajax.BeginForm("Selling", "Home", new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging" },
                                                                        new { id = "frm-search" }))
{
    <div id="grid-list">
        @{
            Html.RenderPartial("PartialSelling", Model);
        }
    </div>
            }

<script type="text/javascript">

    function beginPaging() {
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }
</script>

